<!--
{% load static %}
<html>
    <head>
        <title>Laura with a B</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
            <h1><a href="/">Laura with a B</a></h1>
            <h5 class="moto">cause you can B whoever you want to B</h5>
            <nav>
                <ul>
                    <li class="header_button"><a href="/">Blog</a></li>
                    <li class="header_button"><a href="event_list.html">Timeline</a></li>
                </ul>
            </nav>    
        </header>
        <div>
            <h3>hey there!!! it's timeline</h3>
        </div>
    </body>
</html>

-->

{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}