body {
    background-color: rgb(247, 247, 247);
}

h1 a, h2 a {
    font-family: Arial, Helvetica, serif;
}

/****************/
/*   HEADER 1   */
/****************/
.page_header {
    background-color: rgb(79, 193, 228);
    padding: 140px 20px 20px 20px;
    left: 0;
    top: 0;
    width: 100%;
    

   background-image: url(uni3.jpg);

    min-height: 400px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -700px;
}

.admin_menu {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.top_menu{
    background-color: none;
    color: rgb(234, 242, 255);
    margin-left: 35px;
    margin-top: 0px;
}

.page_header_section h1, .page_header_section h1 a, .page_header_section h1 a:visited, .page_header_section h1 a:active {
    text-align: center;
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page_header_section h1 a {
    font-stretch: semi-expanded;
    font-weight: 700;
    text-shadow: 0px 1px 1px  rgb(37, 77, 110);
}
.moto {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: arial;
}

/******************/
/*    HEADER 2    */
/******************/

.page_header2 {
    border: 2px rgb(37, 77, 110);
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.page_header2 nav ul {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0px;
    
}

.page_header2 nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px
}

.header_button a{
    padding: 15px;
    color: rgb(37, 77, 110);
    font-family: arial;
    font-size: 14pt;
    width: 100%;
}

.page_header2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

/***************/
/*   CONTENT   */
/***************/

.content_container {
    background-color: rgb(245, 245, 245);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

/****************/
/*     BLOG     */
/****************/

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post_wrapper {
    padding-top: 30px;
    text-align: center;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1100px;
}

.post {
    display:inline-block;
    margin-bottom: 70px;
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
}

.post_detail {
    width: 70%;
    padding: 50px 110px;
}

.date {
    color: #828282;
    text-align: left;
    width: 100%;
}

.post h2 a, .post h2 a:visited, .post h2 {
    color: rgb(37, 77, 110);
    font-weight: 600;
    float: left;
    width: 100%;
    text-align: left;
    padding-bottom: 12px;
}

.post p {
    color: rgb(37, 77, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-expanded;
    text-align: left;
    font-size: 17px;
    line-height: 24px;;
}

/***************************************/
/*              TIMELINE               */
/***************************************/

.timeline {
    margin: 50px auto;
    padding: 40px 0;
    position: relative;
    width: 1000px;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 110%;
    background: #c5c5c5;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    box-sizing: initial;
    line-height: normal;
    list-style: none;
    position: relative;
    width: 43%;
    padding: 2px 20px 20px 20px;
    margin-bottom: 40px;
    background-color: rgb(243, 212, 155);
    box-shadow: 20px 10px 8px  rgb(37, 77, 110);
    height: relative;
}

.timeline ul li:nth-child(odd) {
    border-radius: 30px 10px 30px 30px;
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    border-radius: 10px 30px 30px 30px;
    float: right;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(odd) div h5{
    border-radius: 30px 10px 30px 30px;
}

.event {
    display: inline-block;
}

.event_time {
    background-color: rgb(255, 238, 189);
    border-radius: 10px 30px 30px 30px;
    color: rgb(37, 77, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    width: 100%
}

.event h4 {
    color: rgb(37, 77, 110);
    font-weight: 700;
}

.description {
    color: rgb(37, 77, 110);
    font-family: arial;
    font-stretch: semi-expanded;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}


/**********************/
/*        DOTS        */
/**********************/
.timeline ul li:before {
    content: '';
    position: absolute;
    top: -8px;
    width: 15px;
    height: 15px;
    background: rgb(74, 150, 212);
    box-shadow: 3px 3px 10px  rgb(37, 77, 110);
    border-radius: 50%;
}

.timeline ul li:nth-child(odd):before {
    right: -38.5px;
}

.timeline ul li:nth-child(even):before {
    left: -36.5px;
}
/**********************/

/***************/
/*    FOOTER   */
/***************/
.page_footer {
    position: relative;
    left:0;
    bottom: 0;
    background-color: rgb(37, 77, 110);
    color: white;
    width: 100%;
    height: 100px;
}
.email{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 200px;
    padding: 40px 0;
    color: white;
}
/*************************/


@media only screen and (max-width: 1060px) {

    .post_detail {
        width: 100%;
        padding: 50px 110px;
    }

    .timeline {
        width: 700px;
    }

    .timeline ul li {
        width: 41.5%;
    }

    .timeline ul li:nth-child(odd):before {
        right: -28.5px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -25.5px;
    }
}

@media only screen and (max-width: 840px) { 

    .page_header {
        min-height: 300px;
        padding-top: 90px;
    }

}

@media only screen and (max-width: 800px) { 

    .page_header {
        min-height: 300px;
        padding-top: 90px;
        background-position: 0px -600px;
    }
    .post_detail {
        width: 100%;
        padding: 50px 60px;
    }

}

@media only screen and (max-width: 800px) {

    .timeline {
        width: 350px;
    }
    .timeline ul li {
        width: 76.55%;
    }

    .timeline ul li:nth-child(odd):before {
        left: -48px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -48px;
    }

    .timeline ul li:nth-child(odd) {
        background-color: rgb(110, 198, 224);
        border-radius: 10px 30px 30px 30px;
        float: right;
        text-align: left;
        clear: both;
    }
    .timeline ul li:nth-child(odd) div h5{
        border-radius: 10px 30px 30px 30px;
        background-color: rgb(183, 232, 255);
    }

    .timeline:before {
        left: 0%;
    }
}
