h1 a, h2 a {
    font-family: candara;
}
body {
}
    /************/
    /*  HEADER  */
    /************/

.page_header {
    background-color: rgb(111, 200, 228);
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.top_menu{
    background-color: none;
    color: rgb(234, 242, 255);
    margin-left: 35px;
}

.page_header h1, .page_header h1 a, .page_header h1 a:visited, .page_header h1 a:active {
    text-align: center;
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.moto {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: candara;
}

.page_header nav ul {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}

.page_header nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px
}

.header_button {
    color: ivory;
    font-family: candara;
    font-size: 14pt;
}

/***************/
/*   CONTENT   */
/***************/

.content_container {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

h1, h2, h3, h4 {
    font-family: candara;
}

/****************/
/*     POST     */
/****************/

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post_wrapper {
    padding-top: 30px;
    text-align: center;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1100px;
}

.post {
    display:inline-block;
    margin-bottom: 70px;
    position: relative;
    left: auto;
    right: auto;
    width: 100%
}

.date {
    color: #828282;
    text-align: left;
    width: 100%;
}

.post h2 a, .post h2 a:visited {
    color: #5580dd;
    float: left;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

.post p {
    text-align: left;
}



/***************************************/
/*              TIMELINE               */
/***************************************/

.timeline {
    margin: 50px auto;
    padding: 40px 0;
    position: relative;
    width: 1000px;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;/*
    top: 0px;
    bottom: 0px;*/
    height: 100%;
    background: #c5c5c5;
}
.timeline ul {
    margin: 0;
    padding: 0;
}
.timeline ul li {
    box-sizing: initial;
    line-height: normal;
    list-style: none;
    position: relative;
    width: 43%;
    padding: 2px 20px 20px 20px;
    margin-bottom: 40px;
    background-color: rgb(255, 214, 138);
    box-shadow: 20px 10px 8px  rgb(30, 108, 172);
    height: relative;
}

.timeline ul li:nth-child(odd) {
    border-radius: 30px 10px 30px 30px;
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    border-radius: 10px 30px 30px 30px;
    float: right;
    text-align: left;
    clear: both;
}
.event {
    display: inline-block;
}

.event_time {
    background-color: rgb(255, 232, 169);
    border-radius: 10px 30px 30px 30px;
    font-family: candara;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    width: 100%
}
.timeline ul li:nth-child(odd) div h5{
    border-radius: 30px 10px 30px 30px;
}
.description {
    color: rgb(0, 0, 0);
    font-family: candara;
    font-size: 12px;
}


/**********************/
/*        DOTS        */
/**********************/
.timeline ul li:before {
    content: '';
    position: absolute;
    top: -8px;
    width: 15px;
    height: 15px;
    background: #5580dd;
    box-shadow: 3px 3px 10px rgb(38, 101, 173);
    border-radius: 50%;
}

.timeline ul li:nth-child(odd):before {
    right: -38.5px;
}

.timeline ul li:nth-child(even):before {
    left: -36.5px;
}
/**********************/




@media screen and (max-width: 1060px) {

    .timeline {
        width: 700px;
    }

    .timeline ul li {
        width: 41.5%;
    }

    .timeline ul li:nth-child(odd):before {
        right: -28.5px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -25.5px;
    }
}

@media screen and (max-width: 800px) {

    .timeline {
        width: 350px;
    }
    .timeline ul li {
        width: 76.55%;
    }

    .timeline ul li:nth-child(odd):before {
        left: -48px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -48px;
    }

    .timeline ul li:nth-child(odd) {
        background-color: cornflowerblue;
        border-radius: 10px 30px 30px 30px;
        float: right;
        text-align: left;
        clear: both;
    }

    .timeline:before {
        left: 0%;
    }
}