body {
    background-color: rgb(247, 247, 247);
}

h1 a, h2 a {
    font-family: candara;
}

/***************************************/
/*              HEADER 1               */
/***************************************/
.page_header {
    background-color: none;
    padding: 140px 20px 20px 20px;
    left: 0;
    top: 0;
    width: 100%;
    
    background-image: url(uni3.jpg);

    min-height: 400px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -700px;
}

.admin_menu {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
}

.top_menu{
    background-color: none;
    color: rgb(234, 242, 255);
    margin-left: 35px;
    margin-top: 0px;
}

.page_header_section h1, .page_header_section h1 a,
 .page_header_section h1 a:visited, .page_header_section h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-align: center;
    text-decoration: none;
}
.page_header_section h1 a {
    font-stretch: semi-expanded;
    font-weight: 700;
    text-shadow: 0px 1px 1px  rgb(37, 77, 110);
}
.moto {
    color: rgb(255, 255, 255);
    font-family: candara;
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
}

/***************************************/
/*               HEADER 2              */
/***************************************/

.page_header2 {
    background-color: rgb(245, 245, 245);
    border: 2px rgb(37, 77, 110);
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    width: 100%;
}

.page_header2 nav ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.page_header2 nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px
}

.header_button a {
    color: rgb(37, 77, 110);
    font-family: candara;
    font-size: 15pt;
    padding: 15px;
    width: 100%;
}

.page_header2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

/***************************************/
/*               CONTENT               */
/***************************************/

.content_container {
    background-color: rgb(245, 245, 245);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

/***************************************/
/*                 BLOG                */
/***************************************/

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post_wrapper {
    margin-right: 10%;
    max-width: 1100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    text-align: center;
}

.post {
    display:inline-block;
    left: auto;
    margin-bottom: 70px;
    right: auto;
    position: relative;
    width: 100%;
}

.post_detail {
    padding: 50px 110px;
    width: 70%;
}

.date {
    color: #828282;
    text-align: left;
    width: 100%;
}

.post h2 a, .post h2 a:visited, .post h2 {
    color: rgb(37, 77, 110);
    float: left;
    font-weight: 600;
    line-height: 36x;
    padding-bottom: 12px;
    font-family: candara;
    text-align: left;
    width: 100%;
}


.post p {
    color: rgb(37, 77, 110);
    font-family: candara;
    font-stretch: semi-expanded;
    font-size: 19px;
    line-height: 28px;;
    text-align: left;
}

/***************************************/
/*              TIMELINE               */
/***************************************/

.timeline {
    margin: 50px auto;
    padding: 40px 0;
    position: relative;
    width: 1000px;
}

.timeline:before {
    background: #c5c5c5;
    content: '';
    left: 50%;
    position: absolute;
    width: 2px;
    height: 110%;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    box-sizing: initial;
    background-color: rgb(243, 212, 155);
    box-shadow: 20px 10px 8px  rgb(37, 77, 110);
    height: relative;
    line-height: normal;
    list-style: none;
    margin-bottom: 40px;
    padding: 2px 20px 20px 20px;
    position: relative;
    width: 43%;
}

.timeline ul li:nth-child(odd) {
    border-radius: 30px 10px 30px 30px;
    clear: both;
    float: left;
    text-align: right;
}

.timeline ul li:nth-child(even) {
    border-radius: 10px 30px 30px 30px;
    clear: both;
    float: right;
    text-align: left;
}

.timeline ul li:nth-child(odd) div h5{
    border-radius: 30px 10px 30px 30px;
}

.event {
    display: inline-block;
}

.event_time {
    background-color: rgb(255, 238, 189);
    border-radius: 10px 30px 30px 30px;
    color: rgb(37, 77, 110);
    font-family: candara;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    width: 100%
}

.event h4 {
    color: rgb(37, 77, 110);
    font-family: candara;
    font-weight: 700;
    line-height: 25px;
}

.description {
    color: rgb(37, 77, 110);
    font-family: candara;
    font-stretch: semi-expanded;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}


/***************************************/
/*                DOTS                 */
/***************************************/
.timeline ul li:before {
    background: rgb(74, 150, 212);
    box-shadow: 3px 3px 10px  rgb(37, 77, 110);
    border-radius: 50%;
    content: '';
    height: 15px;
    position: absolute;
    top: -8px;
    width: 15px;
}

.timeline ul li:nth-child(odd):before {
    right: -38.5px;
}

.timeline ul li:nth-child(even):before {
    left: -36.5px;
}
/***************************************/

/***************************************/
/*               FOOTER                */
/***************************************/
.page_footer {
    bottom: 0;
    background-color: rgb(37, 77, 110);
    color: white;
    height: 107px;
    left:0;
    position: relative;
    width: 100%;
}
.email{
    color: white;
    font-family: candara;
    margin: auto;
    padding: 40px 0;
    width: 200px;
}
/***************************************/


@media only screen and (max-width: 1060px) {

    .post_detail {
        padding: 50px 110px;
        width: 100%;
    }

    .timeline {
        width: 700px;
    }

    .timeline ul li {
        width: 41.5%;
    }

    .timeline ul li:nth-child(odd):before {
        right: -28.5px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -25.5px;
    }
}

@media only screen and (max-width: 840px) { 

    .page_header {
        min-height: 300px;
        padding-top: 90px;
    }

}

@media only screen and (max-width: 800px) { 

    .page_header {
        background-position: 0px -600px;
        min-height: 300px;
        padding-top: 90px;
    }
    .post_detail {
        padding: 50px 60px;
        width: 100%;
    }

}

@media only screen and (max-width: 800px) {

    .timeline {
        width: 350px;
    }
    .timeline ul li {
        width: 76.55%;
    }

    .timeline ul li:nth-child(odd):before {
        left: -48px;
    }
    
    .timeline ul li:nth-child(even):before {
        left: -48px;
    }

    .timeline ul li:nth-child(odd) {
        background-color: rgb(110, 198, 224);
        border-radius: 10px 30px 30px 30px;
        clear: both;
        float: right;
        text-align: left;
    }
    .timeline ul li:nth-child(odd) div h5{
        background-color: rgb(183, 232, 255);
        border-radius: 10px 30px 30px 30px;
    }

    .timeline:before {
        left: 0%;
    }

    .page_header {
        background: none;
        background-color: rgb(110, 198, 224);
    }
}
